{% include base_path %}

<style>
  .dark-mode {
    background-color: black;
    color: white;
  }
</style>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <span class="masthead__menu" style="white-space:nowrap">
      <nav id="site-nav" class="greedy-nav">
        <!--
        <button>
        <div class="navicon"></div>
        </button>
        -->
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}

            {% if link.url == '/cv/' %}
              <li class="masthead__menu-item">
                <a href="{{ domain }}{{ link.file_path }}">{{ link.title }}</a>
              </li>
            {% else %}
              <li class="masthead__menu-item">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}

          <li class="masthead__menu-item" style="padding-left:20px">
            <!--
            <script>
            function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
            }
            </script>
            -->
            <button id="theme-toggle" type="button">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
            </button>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>


      <button id="theme-toggle" type="button">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
      </button>

    </span>

  </div>
</div>